<?xml version="1.0" encoding="UTF-8"?>
<?define DeployingAssemblyVersion="1.2.6754.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>
	<Module Id="MemoryModule" Language="1033" Version="$(var.DeployingAssemblyVersion)" Guid="D48E7B94-2FEA-455A-84F6-0161B1C86520">
		<Package Id="d48d7209-5404-4438-8d99-95653bfce7c4" Manufacturer="Microsoft Research" InstallerVersion="200" />

    <CustomAction Id="SetLocalWinDir" Property="LocalWinDir" Value="[%WinDir]"/>

    <InstallExecuteSequence>
      <Custom Action="SetLocalWinDir" Before="LaunchConditions"/>
    </InstallExecuteSequence>
    


    <Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">

        <!--The following assemblies will be put in GAC-->
        <Directory Id="GAC" Name="GAC">

          <Component Id="Microsoft.Research.Science.Data.Memory.dll_GAC" Guid="C6B233FE-CB73-43b1-8673-BEFE800AFDBA">
            <File Id="Microsoft.Research.Science.Data.Memory.dll" Name="Microsoft.Research.Science.Data.Memory.dll" Checksum="yes"
                  KeyPath="yes" Source="x32\Microsoft.Research.Science.Data.Memory.dll" Assembly=".net" AssemblyManifest="Microsoft.Research.Science.Data.Memory.dll"/>
          </Component>
        
        </Directory>

        <!--Copying assemblies to local folder-->
        <Component Id="Microsoft.Research.Science.Data.Memory.dll" Guid="F78AECDB-B4FC-4fda-ACE6-C13CD274FF25">
          <File Id="Microsoft.Research.Science.Data.Memory.dll_nonGac" Name="Microsoft.Research.Science.Data.Memory.dll" Checksum="yes"
                KeyPath="yes" Source="x32\Microsoft.Research.Science.Data.Memory.dll" Assembly=".net" AssemblyManifest="Microsoft.Research.Science.Data.Memory.dll" AssemblyApplication="Microsoft.Research.Science.Data.Memory.dll"/>
          <!--Adding documentation-->
          <File Id="Microsoft.Research.Science.Data.Memory.xml" Name="Microsoft.Research.Science.Data.Memory.xml" Checksum="yes" Source="x32\Microsoft.Research.Science.Data.Memory.xml"/>
        </Component>

        <!--Registering Provider in Machine.Config-->
        <Component Id="MachineConfig" Guid="8390C676-9A81-4a53-B90B-9A12F2131089" KeyPath="yes">
        
          <!--Provider-->
          <util:XmlConfig Id="MC_add_memp" File="[LocalWinDir]\Microsoft.NET\Framework\v2.0.50727\CONFIG\Machine.Config" Name="add" Node="element" Sequence="3" Action="create" ElementPath="//configuration/Microsoft.Research.Science.Data/factories" On="install"/>
          <util:XmlConfig Id="MC_add_memp_name" File="[LocalWinDir]\Microsoft.NET\Framework\v2.0.50727\CONFIG\Machine.Config" Name="name" ElementPath="MC_add_memp.D48E7B94_2FEA_455A_84F6_0161B1C86520" Sequence="4" Value="memory"/>
          <!--Here version is needed-->
          <util:XmlConfig Id="MC_add_memp_type" File="[LocalWinDir]\Microsoft.NET\Framework\v2.0.50727\CONFIG\Machine.Config" Name="type" ElementPath="MC_add_memp.D48E7B94_2FEA_455A_84F6_0161B1C86520" Sequence="4" Value="Microsoft.Research.Science.Data.NetCDF4.MemoryDataSet, Microsoft.Research.Science.Data.Memory, Version=1.2.6754.0, Culture=neutral, PublicKeyToken=e550de0161496f12"/>

        </Component>

        <!--Registering Provider in Machine.Config x64-->
        <Component Id="MachineConfig64" Guid="8390C676-9A81-4a53-B90B-9A12F4567089" KeyPath="yes">
          <Condition>VersionNT64</Condition>
          <!--Provider-->
          <util:XmlConfig Id="MC_add_memp64" File="[LocalWinDir]\Microsoft.NET\Framework64\v2.0.50727\CONFIG\Machine.Config" Name="add" Node="element" Sequence="3" Action="create" ElementPath="//configuration/Microsoft.Research.Science.Data/factories" On="install"/>
          <util:XmlConfig Id="MC_add_memp_name64" File="[LocalWinDir]\Microsoft.NET\Framework64\v2.0.50727\CONFIG\Machine.Config" Name="name" ElementPath="MC_add_memp64.D48E7B94_2FEA_455A_84F6_0161B1C86520" Sequence="4" Value="memory"/>
          <!--Here version is needed-->
          <util:XmlConfig Id="MC_add_memp_type64" File="[LocalWinDir]\Microsoft.NET\Framework64\v2.0.50727\CONFIG\Machine.Config" Name="type" ElementPath="MC_add_memp64.D48E7B94_2FEA_455A_84F6_0161B1C86520" Sequence="4" Value="Microsoft.Research.Science.Data.NetCDF4.MemoryDataSet, Microsoft.Research.Science.Data.Memory, Version=1.2.6754.0, Culture=neutral, PublicKeyToken=e550de0161496f12"/>

        </Component>

			</Directory>
		</Directory>
	</Module>
</Wix>
